// Font declarations

/*!
 *  Font Awesome 4.7.0 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (Font: SIL OFL 1.1, CSS: MIT License)
 */

@font-face{font-family:'FontAwesome';src:url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'),
url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'),
url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'),
url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'),
url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
    font-weight:normal;
    font-style:normal
}

// DX8 grid styles

.coh-row-inner {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -0.75rem;
}

.coh-column {
    padding: 0 0.75rem;
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 48rem) {
    .coh-col-xl-4 {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }

    .coh-col-xl-8 {
        flex: 0 0 66.66667%;
        max-width: 66.66667%;
    }
}

// DX8 base styles

* {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
}

h1 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.25;
    margin: 0 0 1.5rem;

    @media (min-width: 48rem) {
        font-size: 2.5rem;
    }
}

h2 {
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.25;
    margin: 0 0 1.5rem;

    @media (min-width: 48rem) {
        font-size: 1.75rem;
    }
}

p {
    margin: 0 0 1.5rem;
    line-height: 1.5;
}

strong {
    font-weight: 500;
}

ol {
    margin: 0;
    padding: 0;

    li {
        line-height: 1.5;
        margin-bottom: 1.5rem;
        margin-left: 2rem;
    }
}

header {
    display: flex;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1;
    padding: 0 1.5rem;
    height: 4.5rem;
    background: #FFF;
    box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.04);

    @media (min-width: 48rem) {
        height: 6rem;
    }
}

main {
    padding: 0 1.5rem;

    @media (min-width: 48rem) {
        padding: 0 3rem;
    }
}

footer {
    background: #F3F6F8;
    padding: 3rem 1.5rem;

    @media (min-width: 48rem) {
        padding: 4.5rem 3rem;
    }

    ul {
        list-style: none;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0 -1rem;
        padding: 0;

        @media (min-width: 48rem) {
            flex-direction: row;
        }
    }

    li {
        margin: 0 1rem 1.5rem;
    }

    a {
        color: #28A9E0;
        text-decoration: none;
    }
}

// Drupal core styles

.hidden {
    display: none;
}

.visually-hidden {
    position: absolute;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
    word-wrap: normal;

    &.focusable:active,
    &.focusable:focus {
        position: static;
        overflow: visible;
        clip: auto;
        width: auto;
        height: auto;
    }
}

.invisible {
    visibility: hidden;
}

// Drupal element styles

.site-branding__logo {
    display: block;
    width: 8rem;
}

.hero-image {
    margin: 0 -1.5rem;

    @media (min-width: 48rem) {
        margin: 0 -3rem;
    }
}

nav[aria-labelledby="system-breadcrumb"] {
    margin: 1.5rem 0;

    ol {
        list-style: none;
        display: flex;
    }

    li {
        margin: 0;

        &:last-child {
            a {
                color: #000;

                &:after {
                    content: none;
                }
            }
        }
    }

    a {
        text-decoration: none;
        text-transform: uppercase;
        font-size: 0.75rem;
        font-weight: 500;
        letter-spacing: 0.125rem;
        color: #28A9E0;

        &:after {
            content:"/";
            margin: 0 0.5rem;
        }
    }
}

.footer {
    &-secondary {
        margin-top: 2.5rem;
    }

    &-social {
        &-div {
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            strong {
                margin-right: 1rem;
            }
        }

        &-ul {
            flex-direction: row;
            margin: 0 -0.25rem;
        }

        &-li {
            margin: 0 0.25rem;

            a {
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: #28A9E0;
                color: #FFF;
                width: 2rem;
                height: 2rem;
                border-radius: 50%;

                &:before {
                    content: "\F099";
                    font-family: "FontAwesome";
                }
            }

            &--twitter {
                a {
                    &:before {
                        content: "\F099";
                    }
                }
            }

            &--facebook {
                a {
                    &:before {
                        content: "\F09A";
                    }
                }
            }

            &--linkedin {
                a {
                    &:before {
                        content: "\F0E1";
                    }
                }
            }
        }
    }
}

// DX8 custom styles

.coh-style-padding-bottom---large {
    padding-bottom: 3rem;
}

.coh-style-paragraph-large {
    font-size: 1.25rem;
}

.coh-style-image-caption {
    font-size: 0.75rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid #E6E8EE;

    &:before {
        content: "\F03E";
        font-family: "FontAwesome";
        margin-right: 0.5rem;
    }
}

// DX8 inline element styles
// 1/3 image 2/3 image component

.coh-ce-a911a6f {
    margin-bottom: 1rem;

    @media (min-width: 48rem) {
        margin-bottom: 0;
    }
}